In [ ]:
# data types in python
1. different vatype of values assigned to variable
2. basically 3 data types in python
3. int(integer)-numerical values like 1,2,3,4,.....n
4. st(strong) - charecters examples "abcd", 'ghjk', "qwetry"
5. float(decimals) - numerical with decimals - 10,24,100,25,125,35....

In [1]:
name="ishani"
age=15
salary=100023.25
data="123"
print(name)
print(age)
print(salary)
print(data)
print(type(name))
print(type(age))
print(type(salary))
print(type(data))

ishani
15
100023.25
123
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# concatenations
a=100
b=200
print(a+b)

In [2]:
n1="python"
n2="programming"
print(n1+n2)

pythonprogramming

In [4]:
a=100
b="300"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'